<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <title>VueJS</title>
    <style>
        .main.container{
            padding-top: 50px;
        }
    </style>
</head>

<body>
    <div class="ui inverted fixed menu">
        <div class="header item">VueJS</div>
    </div>

    <div class="ui main container" id="app">
        <a :href="link" :title="message">{{message}}</a>
        <div class="ui success message" v-if="success">
            <p>Bravo votre enregistrement à marché</p>
        </div>
        <div class="ui error message" v-else>
            <p>Échec ça n'a pas marché</p>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/app.js"></script>

</body>

</html>